.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container label {
  margin: 0 1rem;
}

.search-form input {
  margin-left: 0.5rem;
}

select {
  margin-left: 0.5rem;
}

input {
  margin-left: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.button-container button {
  margin: 0 1rem;
}

