.GardenGrid {
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(234, 234, 234);
    border-radius: 5px;
    background-color: rgb(234, 234, 234);
}

.row {
    display: flex;
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}