
.ReactModal__Content--after-open {
    box-shadow: 10px 10px 30px #444;
}

.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-plant-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 8rem;
}

button {
    width: 4rem;
    height: 2rem;
}

.close-button {
    margin: 10px 0;
}