.ReactModal__Content {
    box-shadow: 10px 10px 30px #444;
    background: #444444  !important; 
    border: 5px solid #444444 !important;
}

.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.single-plant-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 4rem;
    height: 2rem;
}

.close-button {
    margin: 10px 0;
}

.delete-button {
    background-color: rgb(192, 2, 2);
}

.delete-button:hover {
    background-color: red;
}