
.ReactModal__Content--after-open {
    box-shadow: 10px 10px 30px #444;
}

.modal-content .plant-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-content .button-area {
    display: flex;
    justify-content: space-between;
}

.button-container {
    position: fixed;
    top: 4rem;
    display: flex;
    flex-direction: column;
}

.button-container button {
    margin: 10px 0;
}