.space {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 5px;
    cursor: grab;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
}

.space:active {
    cursor: grabbing;
}

.empty-space {
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(234, 234, 234);
}

.space:hover {
    background-color: rgb(44, 44, 44);
}

.text-container {
    padding: 20px 10px 10px;
    width: 100%;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgb(255, 255, 255, 0), rgb(22, 22, 22));   
}

p {
    margin: 0;
}

img {
    width: 40px;
    height: 40px;
}