.space {
    background-color: #020D05;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 5px;
    cursor: grab;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
}

.space:active {
    cursor: grabbing;
}

.empty-space {
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 5px;
    background-color: #9FA6A1;
}

.space:hover {
    background-color: #032613;
}

.text-container {
    padding: 20px 10px 10px;
    width: 100%;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgb(2, 13, 5, 0), #020D05);   
}

.text-container p {
    margin: 0;
}

img {
    width: 40px;
    height: 40px;
}