body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444444;
  color: rgb(255, 255, 255, 0.7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding: 2rem 0;
}

button {
  border: none;
  border-radius: 0.2rem;
  color: white;
  background-color: #001742;
  box-shadow:  2px 2px 4px #1c211e,
  -2px -2px 4px #686868;
  cursor: pointer;
  transition: 0.3s;
}

button:active {
  box-shadow:  inset 2px 2px 4px #011b4d,
  inset -2px -2px 4px #0143bd;
}

button:hover {
  background-color: #012f85;
}

input[type=submit]:active {
  box-shadow:  inset 2px 2px 4px #011b4d,
  inset -2px -2px 4px #0143bd;
}

.ReactModal__Content {
  box-shadow: 10px 10px 30px #444;
  background: #444444;
  border: none;
}
