.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.login-title {
  margin-bottom: 2rem;
}

input { 
  font-size: 1.2rem;
  margin: auto;
}

input[type=text] {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #666666,
            inset -5px -5px 10px #ffffff;
}

input[type=password] {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #666666,
            inset -5px -5px 10px #ffffff;
}

input[type=submit] {
  background-color: #001742;
  box-shadow: -2px -2px 4px #686868,
  2px 2px 4px #1c211e;
}

img {
  width: 50px;
  height: 50px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 3rem;
}