.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-plant-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 0.5rem 0;
}

input {
  margin-left: 1rem;
}

input[type="submit"] {
  width: fit-content;
  padding: 0.5rem 0.7rem;
  margin-top: 1rem;
  align-self: center;
  border: none;
  border-radius: 0.2rem;
  color: white;
  background-color: #001742;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #01266b;
}

label[for=miscellaneous] {
  width: 249px;
}

textarea[type=text] {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #666666,
            inset -5px -5px 10px #ffffff;
  width: 100%;
  border-radius: 0.2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}


.error {
  border: 2px solid red;
  border-radius: 0.2rem;
}