.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 0.5rem 0;
}

input {
  margin-left: 0.5rem;
}

input[type="submit"] {
  width: fit-content;
  padding: 0.2rem;
  margin-top: 1rem;
  align-self: center;
}