.plant-item {
    width: 300px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    background-color: #032613;
    color: white;
    border-radius: 5px;
    box-shadow:  2px 2px 5px #1c211e,
    -2px -2px 5px #686868;
    transition: 0.3s;
}

.plant-item:hover {
    cursor: pointer;
    background-color: #598c68;
}

.plant-item div {
    display: flex;
    align-items: center;
}

.plant-item div img {
    margin-right: 10px;
    border-radius: 5px;
}

.true {
    width: 600px; 
    height: fit-content;
}

.true:hover {
    cursor: default;
    background-color: #032613;
}

hr {
    width: 100%;
}