.plant-item {
    width: 250px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #444;
    color: white;
    border-radius: 5px;
}

.plant-item:hover {
    cursor: pointer;
    background-color: rgb(44, 44, 44);
}

.plant-item div {
    display: flex;
    align-items: center;
}

.plant-item div img {
    margin-right: 10px;
}