#information-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

p {
    margin-bottom: 20px;
}

.search-result {
    margin: 10px 0;
    text-align: center;
}

a {
    margin: 10px;
    color: #598c68;
}

.returned-information:hover {
    font-weight: 500;
    cursor: pointer;
}

.selected-information {
    color: #30aa67;
    font-weight: 500;
}