.search-results-container {
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 20px;
}

.search-result {
    margin: 10px 0;
}

a {
    margin: 10px;
}

.returned-information:hover {
    font-weight: 500;
    cursor: pointer;
}

.selected-information {
    color: #30aa67;
    font-weight: 500;
}