#information-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.returned-information {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.search-result {
    margin: 10px 0;
    text-align: center;
}

span {
    margin: 10px;
}

.returned-information:hover {
    font-weight: 500;
    cursor: pointer;
}

.selected-information {
    color: #30aa67;
    font-weight: 500;
}

.returned-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}